.slide .plot {
  width: 470px;
  height: 300px;
}

.function-plot {
  font-size: inherit;
  font-family: sans-serif;
}

body.slideshow .function-plot {
  font-size: 40%;
}

body.slideshow output {
  display: inline-block;
  width: 3em;
  text-align: right;
}

.function-plot .top-right-legend {
  display: none;
}
