.sandwich g {
  transition: transform 1s linear, opacity 0.1s linear;
}
.sandwich g.past,
.sandwich g.present {
  transform: translateY(0);
  opacity: 1;
}
.sandwich g.future {
  transform: translateY(-50px);
  opacity: 0;
  visibility: visible;
}

.complexity-scale {
  position: relative;
  border-top: 0.1em solid #000;
  margin: 5em auto 0;
  padding: 0 0 5em 0;
  width: 75%;
}
.complexity-scale.future {
  visibility: hidden;
}
.complexity-scale li {
  transition: left 1s linear, margin-left 1s linear, top 1s linear,
    width 1s linear, height 1s linear;
  position: absolute;
  list-style: none;
  width: 3em;
  height: 3em;
  padding: 0.5em;
  background: #fff;
  top: -2em;
}
.complexity-scale li.low {
  left: -0.5em;
  margin-left: 0;
}
.complexity-scale li.medium {
  left: 50%;
  margin-left: -2em;
}
.complexity-scale li.high {
  left: 100%;
  margin-left: -4em;
}
body.slideshow .complexity-scale li.future {
  visibility: hidden;
}
body.slideshow .complexity-scale li.present,
body.slideshow .complexity-scale li.future {
  top: -3em;
  left: 50%;
  margin-left: -3em;
  width: 6em;
  height: 6em;
}
.complexity-scale li.line,
body.slideshow .complexity-scale li.line.past,
body.slideshow .complexity-scale li.line.present,
body.slideshow .complexity-scale li.line.future {
  transition: none;
  width: 0;
  padding: 0;
  height: 4em;
  left: 75%;
  border-left: 0.1em dotted red;
  margin-left: 0;
  top: -2em;
}
.complexity-scale img {
  vertical-align: bottom;
  width: 100%;
  height: auto;
}

body.slideshow .spiderman {
  transition: top 1s ease-in-out;
  position: absolute;
  height: 60%;
  top: -60%;
  left: 1%;
}
body.slideshow .spiderman.present {
  top: 0;
}
