body {
  font-family:            'Georgia', 'Times', serif;
  text-rendering:         optimizeLegibility;
}

a {
  color:                  #1278db;
  text-decoration:        none;
}
a:hover,
a:focus,
a:active {
  text-decoration:        underline;
}

abbr {
  border-bottom:          1px solid #999;
  cursor:                 help;
}

dfn {
  font-style:             italic;
}

mark {
  color:                  inherit;
  background:             transparent;
}

figure {
  margin:                 0;
  padding:                0;
}

span.path {
  font-family:            monospace;
}

a.run-slideshow {
  font-family:            'Arial', sans-serif;
  font-size:              0.8em;
  display:                block;
  position:               fixed;
  top:                    0;
  right:                  10px;
  padding:                5px 10px;
  background:             #d00;
  color:                  #fff;
  border-radius:          0 0 5px 5px;
  cursor:                 pointer;
}

.slide {
  position:               relative;
  padding:                20px;
  margin:                 20px auto 20px;
  -webkit-box-shadow:     rgba(0,0,0,0.25) 0 5px 20px;
  border:                 1px solid #999;
  width:                  640px;
}
.notes {
  color:                  #666;
  margin:                 0 auto;
  padding:                0 20px;
  width:                  640px;
}
.slide .notes {
  margin:                 0;
  padding:                0;
}
.slide code {
  display:                block;
  text-align:             left;
  margin:                 10px 0;
}
.slide code.inline {
  display:                inline;
  margin:                 0;
}
.slide h1,
.slide h2,
.slide h3,
.slide h4,
.slide h5,
.slide h6 {
  text-align:             center;
  font-size:              30px;
  margin:                 0 0 10px 0;
}
.slide h1 {
  font-size:              40px;
}
.slide h1 code,
.slide h2 code,
.slide h3 code,
.slide h4 code,
.slide h5 code,
.slide h6 code {
  display:                inline;
  margin:                 0;
}
.slide p {
  text-align:             center;
}
.slide blockquote {
  margin:                 0;
}
.slide blockquote p {
  text-align:             left;
}
.slide blockquote p:first-of-type:before {
  content:                '“';
}
.slide blockquote p:nth-last-of-type(2):after {
  content:                '”';
}
.slide blockquote p.citation:before {
  content:                '– ';
}
.slide address {
  text-align:             center;
  font-style:             normal;
  margin-top:             20px;
}
.slide img {
  max-width:              640px;
}
.slide ul.plain {
  list-style:             none;
}
.todo {
  color:                  #cf2332;
  font-weight:            bold;
  font-family:            'Arial', sans-serif;
  background:             #fdd;
  padding:                3px;
  font-size:              80%;
}
.todo:before {
  content:                'TODO: ';
}

.ruby { color: #800; }
.html { color: #080; }
.javascript { color: #008; }
.css { color: #c50; }

ol.diagram {
  list-style:             none;
  margin:                 2em 0;
  padding:                0;
  text-align:             center;
}
ol.diagram li > span,
ol.diagram li > code {
  display:                block;
  margin:                 0 auto;
}
ol.diagram li > span {
  font-family:            'Arial', sans-serif;
  font-weight:            bold;
  padding:                1em 0.5em;
  border:                 3px solid #000;
  width:                  50%;
  border-radius:          0.25em;
}
ol.diagram li > code {
  display:                inline-block;
}
ol.diagram li:after {
  display:                block;
  content:                '↓';
  font-size:              1em;
}
ol.diagram.bi-directional li:after {
  content:                '↓ ↑';
}
ol.diagram li:last-of-type:after {
  content:                none;
}

body.slideshow {
  font-size:              40px;
}
body.slideshow .slide {
  border:                 none;
  margin:                 0;
  -webkit-box-shadow:     none;
  margin:                 0 auto;
  padding:                0 20px 60px;
  width:                  auto;
}
body.slideshow .slide code {
  font-size:              75%;
}
body.slideshow .slide ol.diagram code {
  font-size:              100%;
}
body.slideshow .slide h1 {
  font-size:              80px;
}
body.slideshow .slide h2,
body.slideshow .slide h3,
body.slideshow .slide h4,
body.slideshow .slide h5,
body.slideshow .slide h6 {
  font-size:              60px;
}

body.slideshow a:not(.linky) {
  color:                  #000;
}
body.slideshow a.linky {
  text-decoration:        underline;
}

body.slideshow ins {
  text-decoration:        none;
}
body.slideshow .slide ins.past {
  display:                inline;
}
body.slideshow .slide ins.present {
  display:                inline;
}
body.slideshow .slide ins.future {
  display:                none;
}
body.slideshow .slide ins.block.future {
  display:                inline;
  visibility:             hidden;
}

body.slideshow .slide mark.past,
body.slideshow .slide mark.future,
body.slideshow .slide span.annotation.past,
body.slideshow .slide span.annotation.future,
body.slideshow .slide ins.past,
body.slideshow .slide ins.future {
  background:             none;
}
body.slideshow .slide mark.present,
body.slideshow .slide span.annotation.present,
body.slideshow .slide ins.present,
body.slideshow .slide ol.diagram code.present {
  background:             #d00;
  color:                  #fff;
  padding:                5px;
  margin:                 -5px;
  border-radius:          5px;
  border-bottom:          2px solid #f00;
}
body.slideshow .slide mark.present *,
body.slideshow .slide span.annotation.present *,
body.slideshow .slide ins.present *,
body.slideshow .slide ol.diagram code.present * {
  color:                 #fff;
}
body.slideshow ol.diagram span.present {
  background:             #d00;
  color:                  #fff;
}

body.slideshow .slide ul.reveal li.future {
  visibility:             hidden;
}
body.slideshow .slide ul.reveal li.present,
body.slideshow .slide ul.reveal li.past {
  visibility:             visible;
}
body.slideshow .slide ul.reveal li.past {
  color:                  #333;
}

body.slideshow .slide .present .title {
  font-family:            'Helvetica', sans-serif;
  display:                block;
  position:               absolute;
  bottom:                 0;
  left:                   0;
  color:                  #fff;
  background:             rgba(0,0,0,0.9);
  text-align:             center;
  padding:                10px;
  border-radius:          10px;
}

body.slideshow .slide.credits,
body.slideshow .slide.credits h3 {
  font-size:              20px;
  text-align:             left;
}

body.slideshow .slide img {
  max-width:              none;
}

/****/

pre .str, code .str { color: #65B042; } /* string  - green */
pre .kwd, code .kwd { color: #E28964; } /* keyword - dark pink */
pre .com, code .com { color: #AEAEAE; font-style: italic; } /* comment - gray */
pre .typ, code .typ { color: #89bdff; } /* type - light blue */
pre .lit, code .lit { color: #3387CC; } /* literal - blue */
pre .pun, code .pun { color: #fff; } /* punctuation - white */
pre .pln, code .pln { color: #fff; } /* plaintext - white */
pre .tag, code .tag { color: #89bdff; } /* html/xml tag    - light blue */
pre .atn, code .atn { color: #bdb76b; } /* html/xml attribute name  - khaki */
pre .atv, code .atv { color: #65B042; } /* html/xml attribute value - green */
pre .dec, code .dec { color: #3387CC; } /* decimal - blue */

pre.prettyprint, code.prettyprint {
        background-color: #000;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        -o-border-radius: 8px;
        -ms-border-radius: 8px;
        -khtml-border-radius: 8px;
        border-radius: 8px;
}

pre.prettyprint {
        padding: 1em;
}


/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre .str, code .str { color: #060; }
  pre .kwd, code .kwd { color: #006; font-weight: bold; }
  pre .com, code .com { color: #600; font-style: italic; }
  pre .typ, code .typ { color: #404; font-weight: bold; }
  pre .lit, code .lit { color: #044; }
  pre .pun, code .pun { color: #440; }
  pre .pln, code .pln { color: #000; }
  pre .tag, code .tag { color: #006; font-weight: bold; }
  pre .atn, code .atn { color: #404; }
  pre .atv, code .atv { color: #060; }
}
